#section0 {
    background-image: url('../images/lits.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 55%;
}
#header-image {
    display: block;
    margin: auto;
    width: 75%;
    height: 75%;
}

#presents{
  position:fixed;
  top:0;
  height: 40px;
  z-index: 70;
  width: 50%;
  padding: 0;
  margin-left: 40px;
}
#info-anchor {
    position:absolute;
    top: 0;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 8em;
}
#info-anchor a {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#info-anchor a:hover {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#home-anchor {
    position:absolute;
    top: 0;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 8em;
}
#home-anchor a {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#home-anchor a:hover {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#sauce-anchor {
    position:absolute;
    bottom: 0;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 8em;
}
#sauce-anchor a {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#sauce-anchor a:hover {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#social {
    position:absolute;
    bottom: 10px;
    left: 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 4em;
}
#social a {
    text-decoration: none;
    color: #000;
}
#copyright {
    position:absolute;
    margin-bottom: 10px;
    bottom: 0;
    left: 10px;
    font-family: 'Roboto Mono', monospace;
}
#presents {
    margin-top: 10px;
}
#presents li#a {
  display:inline-block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: bold;
}
#presents li#b {
    display:inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}
#presents li#c {
    visibility: hidden;
    display:inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}
#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}
#block-text {
    order: 3;
    font-size: 2em;
    border: 2px solid #000;
    border-width: 0 0 0 2px;
    padding-left: 25px;
    margin-left: 0px;
    margin-right: 25px;
}
#countdown {
    margin: 25px;
    order: 1;
    font-size: 4em;
}
#location {
    margin: 20px;
    font-size: 1.5em;
    order: 2;
    width: 50%;
}

#section3 {
    text-align:center;
}
#sauce-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    margin: 10px;
}
.fa {
    margin: 5px;
    color: black;
}

#mc_embed_signup{
    color: white;
    clear:left;
    font-family: 'Roboto Mono', monospace;
}

#mce-EMAIL {
    color: white;
    outline:none;
    background-color:transparent;
    font-size: 1em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .fa {
        font-size: 3em;
        margin: 0px;
        padding: 0px;
    }
    #social {
        bottom: 40px;
    }
    #social a {
        margin: 0px;
    }
    .fa-envelope-o {
        width: 0px;
    }
    #mc_embed_signup {
        font-size: 2em;
    }
    #mce-EMAIL{
        height: 30px;
        font-size: 1em;
    }
}
