input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px whitesmoke inset;
}
input {
    -webkit-appearance: none;
}
button:focus {outline:0;}

#section0 {
    background-image: url('../images/lits.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 55%;
}
#header-image {
    display: block;
    margin: auto;
    width: 75%;
    height: 75%;
}

#presents{
  position:fixed;
  top:0;
  height: 40px;
  z-index: 70;
  width: 50%;
  padding: 0;
  margin-left: 40px;
}
#info-anchor {
    position:absolute;
    top: 0;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 8em;
}
#info-anchor a {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#info-anchor a:hover {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#home-anchor {
    z-index: 10;
    position:absolute;
    top: 0;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 8em;
}
#home-anchor a {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#home-anchor a:hover {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}

#ticker-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}
@-moz-keyframes scroll-left {
   0%   { -moz-transform: translateX(100%); }
   100% { -moz-transform: translateX(-100%); }
  }
@-webkit-keyframes scroll-left {
   0%   { -webkit-transform: translateX(100%); }
   100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
   0%   { 
   -moz-transform: translateX(100%); /* Browser bug fix */
   -webkit-transform: translateX(100%); /* Browser bug fix */
   transform: translateX(100%);     
   }
   100% { 
   -moz-transform: translateX(-100%); /* Browser bug fix */
   -webkit-transform: translateX(-100%); /* Browser bug fix */
   transform: translateX(-100%); 
   }
}

#ticker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

#ticker p {
  font-size: 2em;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);  
  transform:translateX(100%);
  /* Apply animation to this element */  
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: scroll-left 10s linear infinite;
}

#ticker marquee {
  font-size: 5em;
  font-family: 'Roboto Mono', monospace;
}

#left-block {
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

#right-block {
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

#call-to-action {
    font-family: 'Roboto Mono', monospace;
    font-size: 8em;
}

#call-to-action a {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}

#call-to-action a:hover {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}

#cta-subscribe {
  font-size: .2em;
  margin-top: 50px;
}

#sauce-anchor {
    position:absolute;
    bottom: 0;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 8em;
}
#sauce-anchor a {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#sauce-anchor a:hover {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}

#social {
    position:absolute;
    bottom: 10px;
    left: 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 4em;
}
#social a {
    text-decoration: none;
    color: #000;
}
#copyright {
    position:absolute;
    margin-bottom: 10px;
    bottom: 0;
    left: 10px;
    font-family: 'Roboto Mono', monospace;
}
#presents {
    margin-top: 10px;
}
#presents li#a {
  display:inline-block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: bold;
}
#presents li#b {
    display:inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}
#presents li#c {
    visibility: hidden;
    display:inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}
#about {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 50px;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

#secret-images {
    visibility: hidden;
    width: 25%;
}

#secret-copy a {
    text-decoration: none;
    color: #000;
}

.secret-copy-item {
    visibility: hidden;
}

.secret-copy-item#address {
    margin-top: 20px;
}

.secret-copy-item#schedule-header {
    margin-top: 20px;
}

#block-text {
    order: 3;
    font-size: 2em;
    border: 2px solid #000;
    border-width: 0 0 0 2px;
    padding-left: 25px;
    margin-left: 0px;
    margin-right: 25px;
}
#countdown {
    margin: 25px;
    order: 1;
    font-size: 4em;
}
#location {
    margin: 20px;
    font-size: 1.5em;
    order: 2;
    width: 50%;
}

#sauce-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    margin: 10px;
}
.fa {
    margin: 5px;
    color: black;
}

#mc_embed_singup_scroll {
    text-align: center;
}

#mc_embed_signup{
    display: flex;
    font-family: 'Roboto Mono', monospace;
    height: 400px;
}

.subscribe-form {
    margin: 40px;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}
#form-header {
    width: 100%;
}

.mc-field-group {
    width: 50%;
}

#mce-EMAIL {
    color: black;
    outline:none;
    background-color:transparent;
    font-size: 1em;
}


.button {
    font-size: 1.5em;
    background-color: whitesmoke;
    border: none;
    color: #FFFFFF;
    width: 80px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    background: #f1f1f1;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}






@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .fa {
        font-size: 3em;
        margin: 0px;
        padding: 0px;
    }
    #social {
        margin: 50px 50px;
        top: 200px;
        left: 30px;
    }
    #social a {
        margin: 0px;
    }
    .fa-envelope-o {
        width: 0px;
    }
    #mc_embed_signup {
        font-size: 2em;
    }
    #mce-EMAIL{
        height: 50px;
        font-size: 1.5em;
    }
    #mc_embed_signup{ 
        height: 35vh;
    }

    .button {
        width: 100%;
        font-size: 1em;
    }
    .clear {
        width: 100%;
    }
    .mc-field-group {
        width: 100%;
    }
    #ticker p {
      font-size: 2.1em;
    }
    #cta-contact {
    }
    #about {
        flex-direction: column;
        align-items: center;
    }
    #secret-images {
        margin-top: 70px;
        margin-bottom: 70px;
        visibility: visible;
        width: 50%;
    }
    .secret-copy-item {
        font-size: 2.5em;
        visibility: visible;
    }
}
