body {
    margin: 0;
}
.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.header {
    width: 100%;
    padding: 40 40;
}
.header-image {
    margin: auto;
    display: block;
    width: 50%;
    height: 50vh;
}
.sub-menu-line {
    width: 100%;
    border: 2px solid #000;
    border-width: 0 0 2px;
}
.sub-info {
    width: 50%;
}
#presents {
    width: 50%;
}
.sub-info-p {
    margin: 8;
    font-family: 'Roboto', sans-serif;
}
.presents-p {
    display: inline-block;
    margin: 8;
    font-family: 'Roboto', sans-serif;
}
.presents-p2 {
    color: white;
    padding: 5 5;
    display: inline-block;
    font-family: 'Roboto Slab', sans-serif;
    background-color: black;
}
.about {
    margin-top: 100px;
    width: 50%;
    font-family: 'Roboto Slab', serif;
    text-align: right;
}
#about-header {
    margin: 0 50;
    font-size: 8em;
}
#about-text {
    font-family: 'Roboto', serif;
    border: 2px solid #000;
    padding-left: 15px;
    border-width: 0 0 0 2px;
    display: inline-block;
    font-size: 1.5em;
}
.unknown {
    margin-top: 100px;
    width: 50%;
}
.social {
    background-color: orange;
    width: 50%;
}
.email-capture {
    background-color: green;
    width: 50%;
}

.bottom-container {
    display: flex;

}
