#section0 {
    background-image: url('images/lits.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 75%;
}
#header-image {
    display: block;
    margin: auto;
    width: 75%;
    height: 75%;
}

#presents{
  position:fixed;
  top:0;
  height: 40px;
  z-index: 70;
  width: 50%;
  padding: 0;
  margin-left: 40px;
}
#info-anchor {
    position:absolute;
    top: 0;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 8em;
}
#info-anchor a {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#info-anchor a:hover {
    text-decoration: none;
    color: #000;
    margin: 0;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}
#copyright {
    position:absolute;
    bottom: 0;
    left: 10px;
    font-family: 'Roboto Mono', monospace;
}
#presents li#a {
  display:inline-block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: bold;
}
#presents li#b {
    display:inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}
#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;
}
#block-text {
    width: 40%;
    font-size: 2em;
    margin:0;
    display: inline-block;
    border: 2px solid #000;
    border-width: 0 0 0 2px;
    padding-left: 25px;
}
#countdown {
    padding-left:5px;
    font-size: 4em;
    width: 50%;
    height: 20%;
}
#location {
    width: 50%;
}
#footer {
    height: 150px;
}
